{% load static %}

    {% if about_us %}
     <section id="about-area" class="section-padding">
          <div class="about-area-wrapper">
              <div class="container">
                  <div class="row justify-content-end">
                      <div class="col-lg-10">
                          <div class="about-content-wrap">
                              <div class="section-title text-lg-left">
                                  <h2> Welcome Note</h2>
                              </div>

                              <div class="about-thumb">
                                  <img src="{% if about_us.welcome_note_image.url != '' %} {{ about_us.welcome_note_image.url }} {% else %} {% static 'images/misc/about-bg.jpg' %} {% endif %}" alt="" class="img-fluid">
                              </div>

                              <p>{{ about_us.welcome_note }}</p>
                              <a href="{% url 'handle_nav_menu_click' about_us.slug %}" class="btn btn-brand about-btn">know more</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
    {% else %}
    {% endif %}