{% load static %}


        <section id="gallery-area" class="section-padding">
          <div class="container">
              <!--== Section Title Start ==-->
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <div class="section-title">
                          <h2>Our gallery</h2>
                      </div>
                  </div>
              </div>
              <!--== Section Title End ==-->
            {% if gallarys %}
              <!--== Gallery Container Warpper ==-->
              <div class="gallery-content-wrapper">
                  <div class="row">
                      <div class="col-lg-12">
                          <!-- Gallery Menu Start -->
                          <div class="gallery-menu text-center">
                              <span class="active" data-filter="*">All</span>
                              <span data-filter=".A">Old Memories</span>
                              <span data-filter=".B">Event</span>
                              <span data-filter=".C">Our Picnic</span>
                              <span class="d-none d-sm-inline-block" data-filter=".D">Recent</span>
                          </div>
                          <!-- Gallery Menu End -->

                          
                          <!-- Gallery Item content Start -->
                          <div class="row gallery-gird">
                            {% for gallary in gallarys %}
                            {% if gallary.media_type == 'photo' %}
                              <!-- Single Gallery Start -->
                              <div class="col-lg-3  col-sm-6 {{gallary.visibility_option}}">
                                  <div class="single-gallery-item gallery-bg-1" style="background-image: url('{{ gallary.photo.url }}');">
                                      <div class="gallery-hvr-wrap">
                                          <div class="gallery-hvr-text">
                                              <h4>{{gallary.title}}</h4>
                                              <p class="gallery-event-date">{{ gallary.event_date|date:'d m, Y' }}</p>
                                          </div>
                                          <a href="{% if gallary.photo.url != '' %}{{gallary.photo.url}}{% else %} {% endif %}" class="btn-zoom image-popup">
                                              <img src="{% static 'images/zoom-icon.png' %}" alt="a">
                                          </a>
                                      </div>
                                  </div>
                                  
                              </div>
                              <!-- Single Gallery End -->
                            {% else %}
                              <!-- Single Gallery Start -->
                              <div class="col-lg-3  col-sm-6 {{gallary.visibility_option}}">
                                  <div class="single-gallery-item video gallery-bg-2" style="background-image: url('{{ gallary.photo.url }}');">
                                      <a href="{{gallary.video_url.url}}" class="btn btn-video-play video-popup"><i class="fa fa-play"></i></a>
                                  </div>
                              </div>
                              <!-- Single Gallery End -->
                            {% endif %}
                            {% endfor %}

                          </div>
                          <!-- Gallery Item content End -->
                          
                      </div>
                  </div>
              </div>
              <!--== Gallery Container Warpper==-->
            {% else %}
            <div class="up-event-text">
                <h3>No gallary Available</h3>
              </div>
            {% endif %}
          </div>
      </section>
