{% load static %}
{% load custom_tags %}

<section id="slider-area">
    <div class="slider-active-wrap owl-carousel text-center text-md-start">
        <!-- For active sliders -->
        {% get_sliders as sliders %}
        
        {% for slide in sliders %}
            {% if slide.is_slider_active %}
                <div class="single-slide-wrap" style="background-image: url('{{ slide.image.url }}');">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="slider-content">
                                    {% if slide.show_title %}
                                        <h2>{{ slide.title }}</h2>
                                    {% endif %}
                                    {% if slide.show_description %}
                                        <p>{{ slide.description }}</p>
                                    {% endif %}
                                    {% if slide.show_button %}
                                        <div class="slider-btn">
                                            <a href="{{ slide.button_link }}" class="btn btn-brand">{{ slide.button_text }}</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="social-networks-icon" style="padding-right:10px;" >
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i> <span>7.2k Likes</span></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i> <span>3.2m Followers</span></a></li>
            <li><a href="#"><i class="fab fa-pinterest"></i> <span>7.2k Likes</span></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i> <span>2.2k Subscribers</span></a></li>
        </ul>
    </div>
</section>




      <section id="upcoming-area">
        <div class="container">
            <div class="row">
                {% if events %}
                <div class="col-lg-12">
                    <div class="upcoming-event-wrap">
                        <div class="up-event-titile">
                            <h3>Upcoming Event</h3>
                        </div>
                        <div class="upcoming-event-content owl-carousel">
                            {% for event in events %}
                        
                            <div class="single-upcoming-event">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="up-event-thumb">
                                           {% if event.image.url != '' %}
                                            <img src="{{ event.image.url }}" class="img-fluid" alt="Upcoming {{ event.item_type }}">
                                           {% else %} 
                                            <img src="{% static 'images/default.jpg' %}" class="img-fluid" alt="Upcoming {{ event.item_type }}">
                                           {% endif %}
                                            <h4 class="up-event-date">It’s {{ event.start_date }}</h4>
                                        </div>
                                    </div>

                                    <div class="col-lg-7">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <div class="up-event-text">
                                                    <div class="event-countdown">
                                                        <div class="event-countdown-counter" data-date="{{ event.start_date|date:'Y/m/d' }}"></div>
                                                        <p>Remaining</p>
                                                    </div>
                                                    <h3><a href="{% url 'handle_event_click' event.id %}">{{ event.title }}</a></h3>
                                                    <p>{{ event.description }}</p>
                                                    <a href="{% url 'handle_event_click' event.id %}" class="btn btn-brand btn-brand-dark">join
                                                        with us</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
                {% else %}
                {% endif %}
            </div>
        </div>
    </section>



      <!-- <section id="upcoming-area">
          <div class="container">
              <div class="row">
                {% if combined_posts %}
                  <div class="col-lg-12">
                    <div class="upcoming-event-wrap">
                         <div class="up-event-titile">
                             <h3> Events, News and Alumni Of The Month  </h3>
                         </div>
                         <div class="upcoming-event-content owl-carousel">
                            {% for event in combined_posts %}
                            
                             <div class="single-upcoming-event">
                                <div class="up-event-titile pt-5">
                                    <h3>{{ event.item_type }}</h3>
                                </div>
                                 <div class="row">
                                     <div class="col-lg-5">
                                         <div class="up-event-thumb">
                                            {% if event.image.url != '' %}
                                             <img src="{{ event.image.url }}" class="img-fluid" alt="Upcoming {{ event.item_type }}">
                                            {% else %} 
                                             <img src="{% static 'images/event/default.jpg' %}" class="img-fluid" alt="Upcoming {{ event.item_type }}">
                                            {% endif %}
                                             <h4 class="up-event-date">It’s {{ event.start_date }}</h4>
                                         </div>
                                     </div>

                                     <div class="col-lg-7">
                                         <div class="display-table">
                                             <div class="display-table-cell">
                                                 <div class="up-event-text">
                                                     <div class="event-countdown">
                                                         <div class="event-countdown-counter" data-date="{{ event.start_date|date:'Y/m/d' }}"></div>
                                                         <p>Remaining</p>
                                                     </div>
                                                     <h3><a href="single-event.html">{{ event.title }}</a></h3>
                                                     <p>{{ event.description }}</p>
                                                     <a href="single-event.html" class="btn btn-brand btn-brand-dark">join
                                                         with us</a>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             

                             {% endfor %}

                         </div>
                     </div>
                  </div>
                  {% else %}
                    {% endif %}
              </div>
          </div>
      </section> -->
