{% load static %}

<section id="funfact-area">
     <div class="container-fluid">
         <div class="row text-center">
             <!--== Single FunFact Start ==-->
             <div class="col-lg-3 col-sm-6">
                 <div class="single-funfact-wrap">
                     <div class="funfact-icon">
                         <img src="{% static 'images/fun-fact/user.svg' %}" alt="Funfact">
                     </div>
                     <div class="funfact-info">
                         <h5 class="funfact-count">{{total_alumni_member}}</h5>
                         <p>Members</p>
                     </div>
                 </div>
             </div>
             <!--== Single FunFact End ==-->

             <!--== Single FunFact Start ==-->
             <div class="col-lg-3 col-sm-6">
                 <div class="single-funfact-wrap">
                     <div class="funfact-icon">
                         <img src="{% static 'images/fun-fact/picture.svg' %}" alt="Funfact">
                     </div>
                     <div class="funfact-info">
                         <h5 class="funfact-count">8725</h5>
                         <p>Photos</p>
                     </div>
                 </div>
             </div>
             <!--== Single FunFact End ==-->

             <!--== Single FunFact Start ==-->
             <div class="col-lg-3 col-sm-6">
                 <div class="single-funfact-wrap">
                     <div class="funfact-icon">
                         <img src="{% static 'images/fun-fact/event.svg' %}" alt="Funfact">
                     </div>
                     <div class="funfact-info">
                         <h5><span class="funfact-count">231</span>+</h5>
                         <p>Events</p>
                     </div>
                 </div>
             </div>
             <!--== Single FunFact End ==-->

             <!--== Single FunFact Start ==-->
             <div class="col-lg-3 col-sm-6">
                 <div class="single-funfact-wrap">
                     <div class="funfact-icon">
                         <img src="{% static 'images/fun-fact/medal.svg' %}" alt="Funfact">
                     </div>
                     <div class="funfact-info">
                         <h5><span class="funfact-count">32</span>+</h5>
                         <p>Awards</p>
                     </div>
                 </div>
             </div>
             <!--== Single FunFact End ==-->
         </div>
     </div>
 </section>

 