{% extends 'base.html' %}
{% load tz %}
{% load static %}
{% load custom_tags %}
{% block title %} {{ nav_menu.menu_name.upper }} {% endblock title %}

{% block content %}

<div id="main_content" class="main-content">

 {% include 'nav_menus/welcome_page.html' with welcome_page_content="About Us" %}

 {% if about_us %}
    <section id="page-content-wrap">
        <div class="about-page-content-wrap section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-11 m-auto">
                        {% if about_us.description != '' %}
                        <div class="single-about-text">
                            <span class="year">1834</span>
                            <img src="{% if about_us.description_image.url != '' %} {{about_us.description_image.url}} {% else %} {% static 'images/about-page/about-img-1.jpg' %} {% endif %}" alt="About" class="img-fluid img-left">
                            <h2 class="h3">About The National Institute Of Transport Alumni</h2>
                            <p style="text-align: justify;">{{about_us.description}}</p>
                        </div>
                        {% endif %}

                        {% if about_us.achivements != '' %}
                        <div class="single-about-text">
                            <span class="year">2015</span>
                            <img src="{% if about_us.achivements_image.url != '' %} {{about_us.achivements_image.url}} {% else %} {% static 'images/about-page/about-img-2.jpg' %} {% endif %}" alt="About" class="img-fluid img-right">
                            <h2 class="h3">Our Achivement in History</h2>
                            <p style="text-align: justify;">{{about_us.achivements}}</p>
                        </div>
                        {% endif %}

                        {% if about_us.mission != '' %}
                        <div class="single-about-text">
                            <span class="year">2006</span>
                            <img src="{% if about_us.mission_image.url != '' %} {{about_us.mission_image.url}} {% else %} {% static 'images/about-page/about-img-3.jpg' %} {% endif %}" alt="About" class="img-fluid img-left">
                            <h2 class="h3">Our New Mission</h2>
                            <p style="text-align: justify;">{{about_us.mission}}</p>
                        </div>
                        {% endif %}

                        {% if about_us.vision != '' %}
                        <div class="single-about-text">
                            <span class="year">1920</span>
                            <img src="{% if about_us.vision_image.url != '' %} {{about_us.vision_image.url}} {% else %} {% static 'images/about-page/about-img-4.jpg' %} {% endif %}" alt="About" class="img-fluid img-right">
                            <h2 class="h3">Our New Vission</h2>
                            <p style="text-align: justify;">{{about_us.vision}}</p>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
 {% else %}
 {% endif %}


 {% include 'home/statistics.html' %}

 {% if committees %}
    <section class="our-honorable-commitee section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="about-page-area-title">
                        <h2>Our Honorable Committe</h2>
                    </div>
                </div>
            </div>

            <div class="honorable-committee-list">
                <div class="row">
                    {% for committee in committees %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-committee-member">
                            <div class="commitee-thumb">
                                <img src="{% if committee.committee_profile_picture.url != '' %} {{committee.committee_profile_picture.url}} {% else %} {% static 'images/committee/commitee-1.jpg' %} {% endif %}
                                " class="img-fluid" alt="Committee" />
                            </div>
                            <h3>{{committee.fullname.user.first_name}} {{committee.fullname.user.last_name}}<span class="committee-deg">{{committee.alumni_position}}</span></h3>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</div>
 {% else %}
 {% endif %}

 {% if alumni_speechs %}
<section class="people-to-say section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="about-page-area-title">
                    <h2>Some Speech About Us</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="people-to-say-wrapper owl-carousel">
                    {% for alumni_speech in alumni_speechs %}
                    <div class="single-testimonial-wrap">
                        <div class="people-thumb">
                            <img src="{% if alumni_speech.publisher.profile_picture != '' %} {{alumni_speech.publisher.profile_picture.url}} {% else %} {% static 'images/testimonial/testi-3.png' %} {% endif %}" alt="Alumni" class="img-fluid" />
                        </div>
                        <i class="quote-icon"></i>
                        <p style="text-align: justify;"> {{alumni_speech.speech|truncate_chars:300 }} </p>
                        <h4>{{alumni_speech.publisher.user.first_name}} {{alumni_speech.publisher.user.last_name}} <span class="people-deg">Founder at {{alumni_speech.publisher.location}}</span></h4>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
{% endif %}


{% endblock content %}
