{% extends 'base.html' %}
{% load tz %}
{% load static %}
{% load custom_tags %}
{% block title %} {{ nav_menu.menu_name.upper }} {% endblock title %}

{% block content %}

<div id="main_content" class="main-content">

    <!--==========================-->
    <!--=         Banner         =-->
    <!--==========================-->
    <section id="page-title-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 m-auto text-center">
                    <div class="page-title-content">
                        <h1 class="h2">About Us</h1>
                        <p>
                            Alumni Needs enables you to harness the power of your alumni network. Whatever may be the need
                        </p>
                        <a href="#page-content-wrap" class="btn btn-brand smooth-scroll">Let's See</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

 {% if about_us %}
    <section id="page-content-wrap">
        <div class="about-page-content-wrap section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-11 m-auto">
                        {% if about_us.description != '' %}
                        <div class="single-about-text">
                            <span class="year">1834</span>
                            <img src="{% static 'images/about-page/about-img-1.jpg' %}" alt="About" class="img-fluid img-left">
                            <h2 class="h3">About The National Institute Of Transport Alumni</h2>
                            <p>{{about_us.description}}</p>
                        </div>
                        {% endif %}

                        {% if about_us.achivements != '' %}
                        <div class="single-about-text">
                            <span class="year">1920</span>
                            <img src="{% static 'images/about-page/about-img-2.jpg' %}" alt="About" class="img-fluid img-right">
                            <h2 class="h3">Our Achivement in History</h2>
                            <p>{{about_us.achivements}}</p>
                        </div>
                        {% endif %}

                        {% if about_us.mission != '' %}
                        <div class="single-about-text">
                            <span class="year">2006</span>
                            <img src="{% static 'images/about-page/about-img-3.jpg' %}" alt="About" class="img-fluid img-left">
                            <h2 class="h3">Our New Mission</h2>
                            <p>{{about_us.mission}}</p>
                        </div>
                        {% endif %}

                        {% if about_us.vision != '' %}
                        <div class="single-about-text">
                            <span class="year">1920</span>
                            <img src="{% static 'images/about-page/about-img-2.jpg' %}" alt="About" class="img-fluid img-right">
                            <h2 class="h3">Our New Vission</h2>
                            <p>{{about_us.vision}}</p>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
 {% else %}
 {% endif %}


 {% include 'home/statistics.html' %}

 {% if committees %}
    <section class="our-honorable-commitee section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="about-page-area-title">
                        <h2>Our Honorable Committe</h2>
                    </div>
                </div>
            </div>

            <div class="honorable-committee-list">
                <div class="row">
                    {% for committee in committees %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-committee-member">
                            <div class="commitee-thumb">
                                <img src="{% static 'images/committee/commitee-1.jpg' %}" class="img-fluid" alt="Committee" />
                            </div>
                            <h3>{{committee.fullname}}<span class="committee-deg">{{committee.alumni_position}}</span></h3>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</div>
 {% else %}
 {% endif %}

 {% if alumni_speechs %}
<section class="people-to-say section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="about-page-area-title">
                    <h2>Some Speech About Us</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="people-to-say-wrapper owl-carousel">
                    {% for alumni_speech in alumni_speechs %}
                    <div class="single-testimonial-wrap">
                        <div class="people-thumb">
                            <img src="{% static 'images/testimonial/testi-3.png' %}" alt="Alumni" class="img-fluid" />
                        </div>
                        <i class="quote-icon"></i>
                        <p> {{alumni_speech.speech}} </p>
                        <h4>{{alumni_speech.publisher.first_name}} <span class="people-deg">Founder at Boxr</span></h4>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
{% endif %}


{% endblock content %}
