{% extends 'base.html' %}
{% load tz %}
{% load static %}
{% load custom_tags %}
{% block title %} {{ nav_menu.menu_name.upper }} {% endblock title %}

{% block content %}


 {% include 'nav_menus/welcome_page.html' with welcome_page_content="Members Directory" %}



  {% if alumni_members %}
 <section id="page-content-wrap">
     <div class="directory-page-content-warp section-padding">
         <div class="container">
             <div class="row">
                 <div class="col-lg-12 text-center">
                     <div class="directory-text-wrap">
                         <h2>Now we have <strong class="funfact-count">{{total_alumni_member}}</strong> member </h2>
                         {% if user.is_authenticated %}

                         <div class="row">
                            <div class="col-lg-12">
                                <div class="event-filter-area">
                                    <form action="{% url 'handle_nav_menu_click' 'directory' %}" method="get" class="form-inline d-flex">
                                        <input type="search" placeholder="Type Your Keyword" name="keyword">
                                        <select name="dept" id="type">
                                            <option value="Dept" selected>Search By Department</option>
                                            {% for value, dept in DEPT_CHOICES %}
                                            <option value="{{value}}">{{dept}}</option>
                                            {% endfor %}
                                        </select>
                                        <button class="btn btn-brand">Search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
       

                         <div class="directory-table table-responsive">
                             <table class="table table-bordered">
                                 <thead>
                                     <tr>
                                         <th scope="col">Full Name</th>
                                         <th scope="col">Depertment</th>
                                         <th scope="col">Batch</th>
                                         <th scope="col">Campus</th>
                                         <th scope="col">Location</th>
                                         {% if user.is_authenticated %}
                                         <th scope="col">Action</th>
                                         {% endif %}
                                     </tr>
                                 </thead>
                                 <tbody>
                                   {% for alumni_member in alumni_members %}
                                     <tr>
                                         <td><img src="{% if alumni_member.profile_picture != '' %} {{alumni_member.profile_picture.url}} {% else %} {% static 'images/testimonial/testi-1.jpg' %} {% endif %}" alt="table">{{alumni_member.user.first_name}} {{alumni_member.user.last_name}}</td>
                                         <td>{{alumni_member.department}}</td>
                                         <td>{{alumni_member.graduation_year}}</td>
                                         <td>{{alumni_member.compass}}</td>
                                         <td>{{alumni_member.location}}</td>
                                         {% if user.is_authenticated %}
                                         <td><a href="{% url 'handle_user_profile_click' alumni_member.id %}" class="btn btn-job">View</a></td>
                                         {% endif %}
                                        </tr>
                                   {% endfor %}

                                 </tbody>
                             </table>
                         </div>
                         <!-- <p class="show-memeber text-end">
                             Show <span>30</span> of <span>12487 Member</span>
                         </p> -->
                         {% else %}
                         <h4> Login To View Member List <strong> <a href="{% url 'handle_nav_menu_click' 'login' %}">Login</a> </strong></h4>
                         {% endif %}
                     </div>
                 </div>
             </div>
             {% if user.is_authenticated %}
             <div class="row">
                <div class="col-lg-12">
                    <div class="pagination-wrap text-center">
                        <nav>
                            <ul class="pagination">
                              {% if alumni_members.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ alumni_members.previous_page_number }}">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                              {% else %}
                                  <li class="page-item disabled">
                                      <a class="page-link" href="#">
                                          <i class="fa fa-angle-left"></i>
                                      </a>
                                  </li>
                              {% endif %}
                              {% for num in alumni_members.paginator.page_range %}
                                {% if alumni_members.number == num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                                {% elif num > alumni_members.number|add:'-3' and num < alumni_members.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                              {% endfor %}
                              {% if alumni_members.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ alumni_members.next_page_number }}">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">
                                       <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                              {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
             {% endif %}
         </div>
     </div>
 </section>
  {% else %}
  <div class="up-event-text">
     <h3>No Alumni Member Available</h3>
   </div>
  {% endif %}

{% endblock content %}