{% extends 'base.html' %}
{% load tz %}
{% load static %}
{% load custom_tags %}
{% block title %} {{ nav_menu.menu_name.upper }} {% endblock title %}

{% block content %}


{% if faqs %}
<section id="page-content-wrap">
     <div class="single-event-page-content">
         <div class="container">
             <div class="row">
                 <div class="col-lg-12">
                     <div class="single-event-details">

                         <div class="event-schedul">
                             <h3>FREQUENTLY ASKED QUESTIONS (FAQs)</h3>

                             <div class="row justify-content-center">
                                 <div class="col-md-10">
                                     <div class="accordion cbx-acacordion" id="cbx-event-accordion">
                                         {% for faq in faqs %}
                                        <div class="accordion-item">

                                             <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                                 <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                                                     <span class="event-time">{{forloop.counter}}</span> {{faq.question}}
                                                 </button>
                                             </h2>
                                             <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse{% if forloop.first %} show{% endif %}" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#cbx-event-accordion">
                                                 <div class="accordion-body">
                                                  {{faq.answer}}
                                                 </div>
                                             </div>
                                         </div>
                                         
                                         <br>
                                          {% endfor %}
                                        </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 {% else %}
 {% endif %}

{% endblock content %}