{% extends 'base.html' %}
{% load tz %}
{% load static %}
{% load custom_tags %}
{% block title %} {{ nav_menu.menu_name.upper }} {% endblock title %}

{% block content %}


<section id="page-title-area">
     <div class="container">
         <div class="row">
             <div class="col-lg-8 m-auto text-center">
                 <div class="page-title-content">
                     <h1 class="h2">Gallary</h1>
                     <p>
                         Alumni Needs enables you to harness the power of your alumni network. Whatever may be the need
                     </p>
                     <a href="#page-content-wrap" class="btn btn-brand smooth-scroll">Let's See</a>
                 </div>
             </div>
         </div>
     </div>
 </section>

 <!--=========================-->
 <!--=         Gallery       =-->
 <!--=========================-->
 <section id="page-content-wrap">
     {% if albums %}
     <div class="gallery-page-wrap section-padding">
         <!-- Gallery Menu Start -->
         <div class="gallery-menu text-center">
             <a href="#" class="active">All</a>
             <a href="#">Seminar</a>
             <a href="#">Event</a>
             <a href="#">Picnic</a>
         </div>
         <!-- Gallery Menu End -->

         <!--= Gallery Page Content Wrap Start =-->
         <div class="container">
             <div class="row">
                 <div class="col-lg-12">

                     <div class="full-album-content">
                         {% for album in albums %}
                         <!-- Single Album Start -->
                         <div class="single-album-wraper">

                             <div class="album-heading">
                                 <h2><a href="{% url 'handle_album_click' album.id %}">{{ album.title }}</a></h2>
                                 <p>{{ album.description }}</p>
                                 <a href="{% url 'handle_album_click' album.id %}" class="btn btn-brand">View Album</a>
                             </div>

                             <div class="album-gallery-item">
                                 <div class="row gallery-gird">
                                   {% for gallary in album.album.all %}
                                   {% if gallary.media_type == 'photo' %}
                                     <!-- Single Gallery Start -->
                                     <div class="col-lg-3  col-sm-6 {{gallary.visibility_option}}">
                                         <div class="single-gallery-item gallery-bg-1">
                                             <div class="gallery-hvr-wrap">
                                                 <div class="gallery-hvr-text">
                                                     <h4>{{gallary.title}}</h4>
                                                     <p class="gallery-event-date">{{ gallary.event_date|date:'d m, Y' }}</p>
                                                 </div>
                                                 <a href="{% if gallary.photo.url != '' %}{{gallary.photo.url}}{% else %}{% static 'images/gallery/gellary-img-1.jpg' %}{% endif %}" class="btn-zoom image-popup">
                                                     <img src="assets/images/zoom-icon.png" alt="a">
                                                 </a>
                                             </div>
                                         </div>
                                     </div>
                                     <!-- Single Gallery End -->
                                     {% else %}

                                     <!-- Single Gallery Start -->
                                     <div class="col-lg-3  col-sm-6 {{gallary.visibility_option}}">
                                         <div class="single-gallery-item video gallery-bg-2">
                                             <a href="{{gallary.video_url.url}}" class="btn btn-video-play video-popup" target="_blank"><i class="fa fa-play"></i></a>
                                         </div>
                                     </div>
                                     <!-- Single Gallery End -->
                                     {% endif %}
                                     {% endfor %}

                                 </div>
                             </div>
                         </div>
                         <!-- Single Album End -->
                          {% endfor %}
                     </div>

                     <div class="pagination-wrap text-center">
                         <nav>
                             <ul class="pagination">
                                 <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                                 </li>
                                 <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                 <li class="page-item"><a class="page-link" href="#">2</a></li>
                                 <li class="page-item"><a class="page-link" href="#">3</a></li>
                                 <li class="page-item"><a class="page-link" href="#">...</a></li>
                                 <li class="page-item"><a class="page-link" href="#">50</a></li>
                                 <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                             </ul>
                         </nav>
                     </div>

                 </div>
             </div>
         </div>
         <!--= Gallery Page Content Wrap End =-->
     </div>
     {% else %}
     <div class="up-event-text">
         <h3>No gallary Available</h3>
       </div>
     {% endif %}
 </section>


{% endblock content %}