{% extends 'base.html' %}
{% load tz %}
{% load static %}
{% load custom_tags %}
{% block title %} All News {% endblock title %}

{% block content %}


 {% include 'nav_menus/welcome_page.html' with welcome_page_content="Blog List" %}

 {% if news %}
 <div id="page-content-wrap">
     <div class="blog-page-content-wrap section-padding">
         <div class="container">
             <div class="row">
                 <!-- Blog content Area Start -->
                 <div class="col-lg-8">
                     <div class="blog-page-contant-start">
                         <div class="row">
                        
                            {% for new in news %}
                             <!--== Single Blog Post start ==-->
                             <div class="col-lg-6 col-md-6">
                                 <article class="single-blog-post">
                                     <figure class="blog-thumb">
                                         <div class="blog-thumbnail">
                                             <img src="{% if new.image.url != '' %} {{ new.image.url }} {% else %} {% static 'images/default.jpg' %} {% endif %}" alt="Blog" class="img-fluid" />
                                         </div>
                                         <figcaption class="blog-meta clearfix">
                                             <a href="single-blog.html" class="author">
                                                 <div class="author-pic">
                                                     <img src="{% if new.author.profile_picture.url != '' %} {{new.author.profile_picture.url}} {% else %} {% static 'images/blog/author.jpg' %} {% endif %}" alt="Author">
                                                 </div>
                                                 <div class="author-info">
                                                     <h5>{{new.author.user.first_name}} {{new.author.user.last_name}}</h5>
                                                     <p>2 hours Ago</p>
                                                 </div>
                                             </a>
                                             <div class="like-comm pull-right">
                                                 <a href="#"><i class="fa fa-comment-o"></i>{{new.comment.count}}</a>
                                                 <!-- <a href="#"><i class="fa fa-heart-o"></i>12</a> -->
                                             </div>
                                         </figcaption>
                                     </figure>

                                     <div class="blog-content">
                                         <h3><a href="{% url 'handle_news_click' new.id %}">{{ new.title|truncate_chars:63 }}</a>
                                         </h3>
                                         <p>{{ new.description|truncate_chars:130 }}</p>
                                         <a href="{% url 'handle_news_click' new.id %}" class="btn btn-brand">More</a>
                                     </div>
                                 </article>
                             </div>
                             <!--== Single Blog Post End ==-->
                             {% endfor %}
                           
                         </div>

                         <!-- Pagination Start -->
                         <div class="row">
                            <div class="col-lg-12">
                                <div class="pagination-wrap text-center">
                                    <nav>
                                        <ul class="pagination">
                                          {% if news.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ news.previous_page_number }}">
                                                    <i class="fa fa-angle-left"></i>
                                                </a>
                                            </li>
                                          {% else %}
                                              <li class="page-item disabled">
                                                  <a class="page-link" href="#">
                                                      <i class="fa fa-angle-left"></i>
                                                  </a>
                                              </li>
                                          {% endif %}
                                          {% for num in news.paginator.page_range %}
                                            {% if news.number == num %}
                                            <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                                            {% elif num > news.number|add:'-3' and num < news.number|add:'3' %}
                                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                            {% endif %}
                                          {% endfor %}
                                          {% if news.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ news.next_page_number }}">
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </li>
                                            {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#">
                                                   <i class="fa fa-angle-right"></i>
                                                </a>
                                            </li>
                                          {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                         <!-- Pagination End -->
                     </div>
                 </div>
                 <!-- Blog content Area End -->

                 <!-- Sidebar Area Start -->
                 <div class="col-lg-4 order-first order-lg-last">

                     <div class="sidebar-area-wrap">
                         <!-- Single Sidebar Start -->
                         <div class="single-sidebar-wrap">
                             <div class="brand-search-form">
                                 <form action="#">
                                     <input type="search" placeholder="Type and hit here">
                                     <button type="button"><i class="fa fa-search"></i></button>
                                 </form>
                             </div>
                         </div>
                         <!-- Single Sidebar End -->

                         <!-- Single Sidebar Start -->
                         <div class="single-sidebar-wrap">
                             <h4 class="sidebar-title">Related Categories</h4>
                             <div class="sidebar-body">
                                 <ul class="brand-unorderlist">
                                     <li><a href="{% url 'handle_nav_menu_click' 'home' %}#alumni_of_the_month">Alumni Of The Month</a></li>
                                     <li><a href="{% url 'handle_nav_menu_click' 'directory' %}">Members</a></li>
                                     <li><a href="{% url 'handle_nav_menu_click' 'event' %}">Events</a></li>
                                     <li><a href="{% url 'handle_nav_menu_click' 'gallery' %}">Gallery</a></li>
                                     <li><a href="{% url 'handle_nav_menu_click' 'job' %}">Jobs</a></li>

                                 </ul>
                             </div>
                         </div>
                         <!-- Single Sidebar End -->
                     </div>
                 </div>
                 <!-- Sidebar Area End -->
             </div>
         </div>
     </div>
 </div>

 {% else %}
 <div class="up-event-text">
   <h3>No News Available</h3>
 </div>
 {% endif %}

{% endblock content %}