{% load static %}
{% load tz %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Data -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title> {% block title %} {% endblock %} | NIT Alumni Portal </title>

    <!-- twitter card starts from here, if you don't need remove this section -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@yourtwitterusername" />
    <meta name="twitter:creator" content="@yourtwitterusername" />
    <meta name="twitter:url" content="http://twitter.com/" />
    <meta name="twitter:title" content="Your home page title, max 140 char" />
    <!-- maximum 140 char -->
    <meta name="twitter:description" content="Your site description, maximum 140 char " />
    <!-- maximum 140 char -->
    <meta name="twitter:image" content="{% static 'images/twittercardimg/twittercard-144-144.png' %}" />
    <!-- when you post this page url in twitter , this image will be shown -->
    <!-- twitter card ends here -->

    <!-- facebook open graph starts from here, if you don't need then delete open graph related  -->
    <meta property="og:title" content="Your home page title" />
    <meta property="og:url" content="http://your domain here.com" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Your site name here" />
    <!--meta property="fb:admins" content="" /-->
    <!-- use this if you have  -->
    <meta property="og:type" content="website" />
    <!-- 'article' for single page  -->
    <meta property="og:image" content="{% static 'images/opengraph/fbphoto-476-476.png' %}" />
    <!-- when you post this page url in facebook , this image will be shown -->
    <!-- facebook open graph ends here -->

    <!-- desktop bookmark -->
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="{% static 'images/favicon/ms-icon-144x144.png' %}" />
    <meta name="theme-color" content="#ffffff" />

    <!-- icons & favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon/favicon.ico' %}" />
    <!-- this icon shows in browser toolbar -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon/favicon.ico' %}" />
    <!-- this icon shows in browser toolbar -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon/apple-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon/apple-icon-60x60.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon/apple-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon/apple-icon-76x76.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon/apple-icon-114x114.png' %}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon/apple-icon-120x120.png' %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon/apple-icon-144x144.png' %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon/apple-icon-152x152.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-icon-180x180.png' %}" />
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/favicon/android-icon-192x192.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon/favicon-96x96.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}" />


    <!-- Dependency Styles -->
    <link id="style-bundle" rel="stylesheet" href="{% static 'vendors/css/bundle.css' %}" type="text/css" />

    <!-- Site Stylesheet -->
    <link id="cbx-style" rel="stylesheet" href="{% static 'css/style-default.css' %}" type="text/css" />
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet" />
    
</head>


{% if messages %}
<div id="message-container">
  {% for message in messages %}
    <div class="message {% if message.tags %}{{ message.tags }}{% endif %}" data-message-id="{{ forloop.counter }}">
      <span class="btn {% if message.tags == 'success' %}btn-success{% elif message.tags == 'error' %}btn-danger{% elif message.tags == 'warning' %}btn-warning{% endif %}">
        {{ message }}
        <span class="close-btn" onclick="removeMessage(this.parentElement);"><span class="btn btn-danger">x</span></span>
      </span>
    </div>
  {% endfor %}
</div>
    {% endif %}



<body id="home-v1" class="home-page-one" data-style="default">
    <a href="#" class="scroll-top">
        <i class="fa fa-angle-up"></i>
    </a>

    <div id="main_content" class="main-content">


        <!--=========================-->
        <!--=        Navbar         =-->
        <!--=========================-->
        <header class="site-header header-fixed" data-responsive-width="991">
            
            {% include 'base-components/header-topbar.html' %}

            {% include 'base-components/header-inner.html' %}

        </header>
        <!-- /.site-header -->



        
        {% block content %}
            
        {% endblock content %}


        <!--=========================-->
        <!--=        Footer         =-->
        <!--=========================-->
        {% include 'base-components/footer.html' %}        


    </div>


    <!-- Dependency Scripts -->
    <script id="script-bundle" src="{% static 'vendors/js/bundle.js' %}"></script>

    <script id="color-switcher" src="{% static 'js/switcher.js' %}"></script>

    <!-- Site Scripts -->
    <script src="{% static 'js/app.js' %}"></script>

    <!-- Include jQuery and Owl Carousel JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script> 

    document.getElementById("year").textContent = new Date().getFullYear();

    </script>
    
    <script>
        function removeMessage(messageElement) {
          messageElement.style.display = 'none';
        }
        
        document.addEventListener('DOMContentLoaded', function() {
          const messageElements = document.querySelectorAll('.message');
          messageElements.forEach((messageElement) => {
            setTimeout(() => {
              removeMessage(messageElement);
            }, 5000); // Adjust the time interval as needed.
          });
        });

        // document.addEventListener('DOMContentLoaded', function () {
        //   const threeDots = document.getElementById('three-dots');
        //   const preheaderLeft = document.getElementById('preheader-left');
      
        //   function checkWindowSize() {
        //     if (window.innerWidth <= 768) {
        //       threeDots.style.display = 'block';
        //       preheaderLeft.style.display = 'none';
        //     } else {
        //       threeDots.style.display = 'none';
        //       preheaderLeft.style.display = 'flex';
        //     }
        //   }
      
        //   threeDots.addEventListener('click', function () {
        //     if (preheaderLeft.style.display === 'flex') {
        //       preheaderLeft.style.display = 'none';
        //     } else {
        //       preheaderLeft.style.display = 'flex';
        //       preheaderLeft.style.flexDirection = 'column';
        //       preheaderLeft.style.backgroundColor = '#008fb0';
        //       preheaderLeft.style.position = 'absolute';
        //       preheaderLeft.style.top = '100%';
        //       preheaderLeft.style.left = '0';
        //       preheaderLeft.style.right = '0';
        //       preheaderLeft.style.zIndex = '1000';
        //       preheaderLeft.style.padding = '10px';
        //     }
        //   });
      
        //   window.addEventListener('resize', checkWindowSize);
        //   checkWindowSize();
        // });
        
        </script>


<!-- <script>
  $(document).ready(function(){
      var slider = $('.slider-active-wrap').owlCarousel({
          items: 1, // Display one slide at a time
          loop: true, // Enable looping
          autoplay: true, // Enable autoplay
          autoplayTimeout: 5000, // Set autoplay interval (in ms)
          autoplayHoverPause: true, // Pause autoplay on hover
          nav: true, // Show navigation buttons
          dots: true // Show pagination dots
      });

      // Adjust autoplay speed based on the number of slides
      var slideCount = {{ sliders|length }};
      if (slideCount > 0) {
          slider.trigger('play.owl.autoplay', [1000 * slideCount]); // Adjust autoplay speed
      }
  });

</script> -->

  
</body>

</html>
            