{% load custom_tags %}

<!-- header-topbar -->
<div class="header-topbar" id="site-navigation" style="background-color: #008fb0; max-width: 100%; position: -webkit-sticky; position: sticky; top: 0; z-index: 1000;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-7 col-7" style="display: flex; justify-content: space-between; align-items: center;">
          <div class="preheader-left" id="preheader-left" style="display: flex; flex-wrap: wrap; align-items: center;">
            <!-- For top header left items -->
            {% get_top_header_items left=True as left_items %}
            {% for item in left_items %}
            <a href="{% if item.link_type == 'external' %}{{ item.link }}{% else %}{{ item.MenuFor }}{% endif %}" target="_blank" style="margin-right: 10px;">
              <i class="{{ item.icon_class }}"></i>
              <strong> {{ item.title }} </strong>
            </a>
            {% endfor %}
          </div>
          <div class="three-dots" id="three-dots" style="display: none; cursor: pointer;">
            <i class="fas fa-ellipsis-v" style="color: white;"></i>
          </div>
        </div>
  
        <div class="col-lg-6 col-sm-5 col-5 text-end" style="display: flex; justify-content: flex-end; align-items: center;">
          <div class="preheader-right" style="display: flex; align-items: center;">
            <!-- For top header right items -->
            {% get_top_header_items as right_items %}
            {% for item in right_items %}
            {% if item|display_menu:user %}
            <a class="btn-auth{% if forloop.first %} btn-auth-rev{% endif %}" href="{% if item.link_type == 'external' %}{{ item.link }}{% else %}{% url 'handle_nav_menu_click' item.slug %}{% endif %}" style="margin-left: 10px;">
              <i class="{{ item.icon_class }}"></i>
              <strong> {{ item.title }} </strong>
            </a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
