{% load static %}
{% load custom_tags %}

<div class="container">
    <div class="header-inner">
        <nav id="site-navigation" class="main-nav">
            <div class="site-logo">
                <a href="index-2.html" class="logo">
                    <img src="{% static 'images/logo/Alumni.png' %}" alt="site logo" class="main-logo" />
                    <img src="{% static 'images/logo/Alumni.png' %}" alt="site logo" class="logo-sticky" />
                </a>

                <div class="burger-menu">
                    <span class="bar-one"></span>
                    <span class="bar-two"></span>
                    <span class="bar-three"></span>
                </div>
            </div>
            <!-- /.site-logo -->

            <div class="menu-wrapper main-nav-container canvas-menu-wrapper" id="mega-menu-wrap">
                <div class="canvas-header">
                    <div class="mobile-offcanvas-logo">
                        <a href="index-2.html">
                            <img src="{% static 'images/logo/Alumni.png' %}" alt="site logo" class="logo-sticky" />
                        </a>
                    </div>

                    <div class="close-menu" id="page-close-main-menu">
                        <i class="fas fa-times"></i>
                    </div>
                </div>

                <ul class="codeboxr-main-menu">
                    <!-- For main/root navigation menu -->
                    {% get_navigation_menu as main_menu %}
                    
                    {% for menu in main_menu %}
                    {% if menu|display_menu:user %}
                        <li class="{% if menu.submenus.count > 0 %}has-submenu{% endif %} menu-item-depth-{{ menu.indentation }}">
                            <a href="{% if menu.link_type == 'internal' %} {% url 'handle_nav_menu_click' menu.slug %} {% else %}{{ menu.link }}{% endif %}">
                                {{ menu.menu_name|upper }}
                            </a>
                            {% if menu|submenus %}
                                <ul class="sub-menu">
                                    {% for submenu in menu|submenus %}
                                    {% if submenu|display_menu:user %}
                                        <li class="{% if submenu.submenus.count > 0 %}has-submenu{% endif %} menu-item-depth-{{ submenu.indentation }}">
                                            <a href="{% if submenu.link_type == 'internal' %} {% url 'handle_nav_menu_click' submenu.slug %}  {% else %}{{ submenu.link }}{% endif %}">
                                                {{ submenu.menu_name|upper }}
                                            </a>
                                            {% if submenu|submenus %}
                                                <ul class="sub-menu">
                                                    {% for subsubmenu in submenu|submenus %}
                                                        <li class="menu-item-depth-{{ subsubmenu.indentation }}">
                                                            <a href="{% if subsubmenu.link_type == 'internal' %} {% url 'handle_nav_menu_click' subsubmenu.slug %} {% else %}{{ subsubmenu.link }}{% endif %}">
                                                                {{ subsubmenu.menu_name|upper }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}
                    {% endfor %}
                </ul>



                {% comment %} 
                <ul class="codeboxr-main-menu">
                    <li>
                        <a href="{% url 'handle_nav_menu_click' 'home' %}">Home</a>
                    </li>
                    <li><a href="{% url 'handle_nav_menu_click' 'about-us' %}">About</a></li>
                    <li><a href="event.html">Event</a></li>
                    <li><a href="gallery.html">Gallery</a></li>

                    <li class="has-submenu menu-item-depth-0">
                        <a href="blog.html">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">Blog List</a></li>
                            <li>
                                <a href="single-blog.html">Single Blog Right Sidebar</a>
                            </li>
                            <li>
                                <a href="single-blog-leftsidebar.html">Single Bolg Left Sidebar</a>
                            </li>
                            <li>
                                <a href="single-blog-nosidebar.html">Single Blog No Sidrebar</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-submenu menu-item-depth-0">
                        <a href="#">Pages</a>

                        <ul class="sub-menu">
                            <li class="has-submenu">
                                <a href="gallery.html">Gallery</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="gallery.html">Gallery</a>
                                    </li>
                                    <li>
                                        <a href="single-album.html">Single Album</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="committee.html">Committee</a></li>
                            <li><a href="directory.html">Directory</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="career.html">Career</a></li>
                            <li>
                                <a href="typography.html">Typography</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item-depth-0">
                        <a href="contact.html">Contact</a>
                    </li>
                </ul> {% endcomment %}


                
            </div>
            <!-- /.menu-wrapper -->
        </nav>
        <!-- /.site-nav -->
    </div>
    <!-- /.header-inner -->
</div>
<!-- /.container-full -->