{% load static %}
{% load custom_tags %}

<div class="container" style="max-width: 100%;">
    <div class="header-inner">
        <nav id="site-navigation" class="main-nav">
            <div class="site-logo">
                <a href="{% url 'handle_nav_menu_click' 'home' %}" class="logo">
                    <img src="{% static 'images/logo/logo.png' %}" alt="site logo" class="main-logo" />
                    <img src="{% static 'images/logo/logo.png' %}" alt="site logo" class="logo-sticky" />
                </a>

                <div class="burger-menu">
                    <span class="bar-one"></span>
                    <span class="bar-two"></span>
                    <span class="bar-three"></span>
                </div>
            </div>
            <!-- /.site-logo -->

            <div class="menu-wrapper main-nav-container canvas-menu-wrapper" id="mega-menu-wrap">
                <div class="canvas-header">
                    <div class="mobile-offcanvas-logo">
                        <a href="{% url 'handle_nav_menu_click' 'home'  %}">
                            <img src="{% static 'images/logo/logo.png' %}" alt="site logo" class="logo-sticky" />
                        </a>
                    </div>

                    <div class="close-menu" id="page-close-main-menu">
                        <i class="fas fa-times"></i>
                    </div>
                </div>

                <ul class="codeboxr-main-menu">
                    <!-- For main/root navigation menu -->
                    {% get_navigation_menu as main_menu %}
                    
                    {% for menu in main_menu %}
                    {% if menu|display_menu:user %}
                        <li class="{% if menu.submenus.count > 0 %}has-submenu{% endif %} menu-item-depth-{{ menu.indentation }}">
                            {% if menu.submenus.count > 0 %}
                            <a>{{ menu.menu_name|upper }}</a>
                            {% else %}
                            <a href="{% if menu.link_type == 'internal' %} {% url 'handle_nav_menu_click' menu.slug %} {% else %}{{ menu.link }}{% endif %}">
                                {{ menu.menu_name|upper }}
                            </a>
                            {% endif %}

                            {% if menu|submenus %}
                                <ul class="sub-menu">
                                    {% for submenu in menu|submenus %}
                                    {% if submenu|display_menu:user %}
                                        <li class="{% if submenu.submenus.count > 0 %}has-submenu{% endif %} menu-item-depth-{{ submenu.indentation }}">
                                            <a href="{% if submenu.link_type == 'internal' %} {% url 'handle_nav_menu_click' submenu.slug %}  {% else %}{{ submenu.link }}{% endif %}">
                                                {{ submenu.menu_name|upper }}
                                            </a>
                                            {% if submenu|submenus %}
                                                <ul class="sub-menu">
                                                    {% for subsubmenu in submenu|submenus %}
                                                        <li class="menu-item-depth-{{ subsubmenu.indentation }}">
                                                            <a href="{% if subsubmenu.link_type == 'internal' %} {% url 'handle_nav_menu_click' subsubmenu.slug %} {% else %}{{ subsubmenu.link }}{% endif %}">
                                                                {{ subsubmenu.menu_name|upper }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            {% comment %} <div class="brand-search-form" style="padding:8px;">
                <form action="">
                    {% csrf_token %}
                    <button type="button" class="sub-menu" id="search-button" style="padding-right:30px;"><i class="fa fa-search"></i></button>
                    <div id="search-input" style="display:none;">
                        <input type="search" id="username"  placeholder="Type and hit enter"> 
                    </div>
                </form>
            </div> {% endcomment %}
            <!-- /.menu-wrapper -->
        </nav>
        <!-- /.site-nav -->
    </div>
    <!-- /.header-inner -->
</div>
<!-- /.container-full -->