<div class="header-topbar">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-7 col-7">
                <div class="preheader-left">
                    <a href="mailto:info@codeboxr.com"><strong>Email:</strong> info@codeboxr.com</a>
                    <a href="mailto:info@construc.com"><strong>Hotline:</strong> 880 454 5477</a>
                </div>
            </div>

            <div class="col-lg-6 col-sm-5 col-5 text-end">
                <div class="preheader-right">
                    <a title="Login" class="btn-auth btn-auth-rev" href="register.html">Login</a>
                    <a title="Register" class="btn-auth btn-auth" href="register.html">Signup</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.header-topbar -->