{% extends 'base.html' %}
{% load tz %}
{% load static %}
{% load custom_tags %}

{% block title %}Home{% endblock title %}

{% block content %} 

<!--=       slider      =-->
{% include 'home/sliders.html' %} 

<!--=       about       =-->
{% include 'home/about.html' %}

<!--=       responsibility       =-->
{% include 'home/responsibility.html' %}

<!--=       job        =-->        
{% include 'home/job.html' %}

<!--=       gallery     =-->
{% include 'home/gallery.html' %}

<!--=       Scholarship     =-->
{% include 'home/scholarship_demo.html' %}

<!--=        News     =-->        
{% include 'home/news.html' %}
            
{% endblock content %}