{% extends 'base.html' %}
{% load tz %}
{% load static %}
{% load custom_tags %}
{% block title %} {{ nav_menu.menu_name.upper }} {% endblock title %}

{% block content %}


{% include 'nav_menus/welcome_page.html' with welcome_page_content="All Event Archive" %}


{% if events %}
<section id="page-content-wrap">
    <div class="single-event-page-content section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-event-details">
                        <div class="event-thumbnails">
                            <div class="event-thumbnail-carousel owl-carousel">
                                <div class="event-thumb-item event-thumb-img-1" style="background-image: url('{{ events.image }}');">
                                    <div class="event-meta">
                                        <h3>{{ events.title }}</h3>
                                        <a class="event-address" href="#"><i class="fa fa-map-marker"></i>{{events.event_location}}</a>
                                        <a href="#" class="btn btn-brand btn-join">Join</a>
                                    </div>
                                </div>

                            </div>
                            <div class="event-countdown">
                                <div class="event-countdown-counter" data-date="{{ events.start_date|date:'Y/m/d' }}"></div>
                                <p>Remaining</p>
                            </div>
                        </div>
                        <h2>Details all Thing About This Event</h2>
                        <p style="text-align: justify;">{{ events.description }}</p>
                        <div class="about-thumb">
                            <img src="{% if events.image.url != '' %} {{ events.image.url }} {% else %} {% endif %}" alt="" class="img-fluid">
                        </div>

                        <div class="event-schedul">
                            <h3>Event Schedule</h3>

                            <div class="row justify-content-center">
                                <div class="col-md-10">
                                    <div class="accordion cbx-acacordion" id="cbx-event-accordion">

                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    <span class="event-time">1</span> Event Location and Schedule
                                                </button>
                                            </h2>
                                            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#cbx-event-accordion">
                                                <div class="accordion-body">

                                                    <h4 class="speaker-name"><strong> EVENT NAME : </strong>{{events.title}}</h4>
                                                    <h4 class="speaker-name"><strong> EVENT START DATE : </strong>{{events.start_date}}</h4>
                                                    <h4 class="speaker-name"><strong> EVENT END DATE : </strong>{{events.end_date}}</h4>
                                                    <h4 class="speaker-name"><strong> EVENT TYPE : </strong>{{events.category.name}}</h4>
                                                    <h4 class="speaker-name"><strong> EVENT LOCATION : </strong>{{events.event_location}}</h4>
                                                    <h4 class="speaker-name"><strong> AUDIENCE : </strong>{{events.audience}}</h4>
                                                    <h4 class="speaker-name"><strong> EVENT STATUS : </strong>{{events.event_status}}</h4>

                                                    <h4 class="speaker-name"><strong> ORGANIZER NAME : </strong>{{events.organizer.name}}</h4>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<div class="up-event-text">
<h3>No Event Archive Available</h3>
</div>
{% endif %}

{% endblock content %}