{% extends 'base.html' %}
{% load tz %}
{% load static %}
{% load custom_tags %}
{% block title %} Blog {% endblock title %}

{% block content %}

<section id="page-title-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 m-auto text-center">
              <div class="page-title-content">
                  <h1 class="h2">Blog Details</h1>
                  <p>
                      Alumni Needs enables you to harness the power of your alumni network. Whatever may be the need
                  </p>
                  <a href="#page-content-wrap" class="btn btn-brand smooth-scroll">Let's See</a>
              </div>
          </div>
      </div>
  </div>
</section>

<!--=======================-->
<!--=         Blog        =-->
<!--=======================-->
<div id="page-content-wrap">
  <div class="blog-page-content-wrap section-padding">
      <div class="container">

        {% if news %}
          <div class="row">

              <!-- Blog content Area Start -->
              <div class="col-lg-8">
                  <article class="single-blog-content-wrap">
                      <header class="article-head">
                          <div class="single-blog-thumb">
                              <img src="{% if news.image.url != '' %} {{ news.image.url }} {% else %} {% static 'images/default.jpg' %} {% endif %}" class="img-fluid" alt="Blog">
                          </div>
                          <div class="single-blog-meta">
                              <h2>{{ news.title }}</h2>
                              <div class="posting-info">
                                  <a href="#">23 May 2017</a> • Posted by: <a href="#">Admin</a>
                              </div>
                          </div>
                      </header>
                      <section class="blog-details">
                          <p>{{ news.description }}</p>
                          <img src="{% static 'images/blog/single-blog.jpg' %}" class="img-fluid" alt="Blog">
                          <div class="row">
                              <div class="col-lg-6">
                                  <h5>The Guest Series</h5>
                                  <p>
                                      Mauris tempus erat laoreet turpis lobortis, eu tincidunt
                                  </p>
                              </div>
                              <div class="col-lg-6">
                                  <h5>How and why</h5>
                                  <p>Aenean dignissim, orci sed faucibus nissim tortor, sit amet condimentum mi</p>
                              </div>
                          </div>
                          <blockquote class="blockquote">
                              Integer tincidunt nec nisl vitae
                          </blockquote>
                      </section>
                      <footer class="post-share">
                          <div class="row no-gutters ">
                              <div class="col-8">
                                  <div class="shareonsocial">
                                      <span>Share:</span>
                                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                                      <a href="#"><i class="fab fa-twitter"></i></a>
                                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                      <a href="#"><i class="fab fa-vimeo"></i></a>
                                  </div>
                              </div>
                              <div class="col-4 text-end">
                                  <div class="post-like-comm">
                                      <a href="#"><i class="far fa-thumbs-up"></i>20</a>
                                      <a href="#"><i class="far fa-comments"></i>15</a>
                                  </div>
                              </div>
                          </div>
                      </footer>
                  </article>
              </div>
              <!-- Blog content Area End -->


              <!-- Sidebar Area Start -->
              <div class="col-lg-4 order-first order-lg-last">

                  <div class="sidebar-area-wrap">
                      <!-- Single Sidebar Start -->
                      <div class="single-sidebar-wrap">
                          <div class="brand-search-form">
                              <form action="https://codeboxr.net/themedemo/unialumni/html/index.html">
                                  <input type="search" placeholder="Type and hit here">
                                  <button type="button"><i class="fa fa-search"></i></button>
                              </form>
                          </div>
                      </div>
                      <!-- Single Sidebar End -->

                      <!-- Single Sidebar Start -->
                      <div class="single-sidebar-wrap">
                          <h4 class="sidebar-title">Categories</h4>
                          <div class="sidebar-body">
                              <ul class="brand-unorderlist">
                                  <li><a href="#">Scholership</a></li>
                                  <li><a href="#">Alumni</a></li>
                                  <li><a href="#">Events</a></li>
                                  <li><a href="#">Member</a></li>
                                  <li><a href="#">Tour</a></li>
                                  <li><a href="#">Current Student</a></li>

                              </ul>
                          </div>
                      </div>
                      <!-- Single Sidebar End -->

                      <!-- Single Sidebar Start -->
                      <div class="single-sidebar-wrap d-none d-lg-block">
                          <h4 class="sidebar-title">Popular Tags</h4>
                          <div class="sidebar-body">
                              <div class="tags">
                                  <a href="#">Bootstrap</a>
                                  <a href="#">Design</a>
                                  <a href="#">web</a>
                                  <a class="active" href="#">custom</a>
                                  <a href="#">wordpres</a>
                                  <a href="#">Art</a>
                                  <a href="#">our team</a>
                                  <a href="#">Classic</a>
                              </div>
                          </div>
                      </div>
                      <!-- Single Sidebar End -->
                  </div>
              </div>
              <!-- Sidebar Area End -->
          </div>
          {% else %}
          {% endif %}
      </div>
  </div>
</div>

{% endblock content %}
